<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
          rel="stylesheet" type="text/css">
</head>
<div class="container">
    <div class="row">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <img src="http://img.tesco.com/Groceries/pi/000/0261480000000/IDShot_225x225.jpg"
                         class="img-responsive" alt="Cinque Terre">
                </td>
                <td>
                    <div style="font-size: 30px">Banana</div>
                    Produce of:Cameroon, Colombia, Costa Rica, the Dominican Republic, Ecuador, Ghana, Guatemala, Ivory
                    Coast (Côte d'Ivoire)
                    Cameroon, Colombia, Costa Rica, the Dominican Republic, Ecuador, Ghana, Guatemala, Ivory Coast (Côte
                    d'Ivoire)<br><br>

                    For maximum freshness, store in a cool dry place. Do not refrigerate.

                </td>
                <td>
                    <div style="font-size: 30px">1$</div>
                    <div>Quantity:</div>
                    <div><input type="number" class="col-sm-1 col-sm-offset-1"><br><br></div>
                    <div><input type="button" id="addToCart" value="Add to Cart"></div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

 <div class="row">
  <div class="col-md-2">
    <div class="thumbnail">
      <a href="http://img.tesco.com/Groceries/pi/000/0261480000000/IDShot_225x225.jpg">
        <img src="http://img.tesco.com/Groceries/pi/000/0261480000000/IDShot_225x225.jpg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a href="http://img.tesco.com/Groceries/pi/000/0261480000000/IDShot_225x225.jpg">
        <img src="http://img.tesco.com/Groceries/pi/000/0261480000000/IDShot_225x225.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <a href="http://img.tesco.com/Groceries/pi/000/0261480000000/IDShot_225x225.jpg">
        <img src="http://img.tesco.com/Groceries/pi/000/0261480000000/IDShot_225x225.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
</div>