{% extends 'store/base_not_logged_in.html' %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form class="form-horizontal text-left" method="post" action="{% url 'staffLogIn' %}" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-5">
                                <label for="staffId" class="control-label">Staff Id</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" pattern="[0-9]+*" class="form-control" id="staffId" name='staffId'
                                       placeholder="Staff Id" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-5">
                                <label for="password" class="control-label"
                                       contenteditable="false">Password</label>
                            </div>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" id="password" name='password'
                                       placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-8 col-sm-10">
                                <button type="submit" class="btn btn-default" id='logIn'>Log in</button>
                            </div>
                            <div class="col-sm-offset-8 col-sm-10"><br><a href="{% url 'signIn' %}">customer login</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/staffSignIn.js' %}"></script>
{% endblock %}
